/*Primary Colors*/
$Orange: hsl(26, 100%, 55%);
$Pale-orange: hsl(25, 100%, 94%);
/*Neutral Colors*/
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-modal: rgba(0, 0%, 0%, 0.75);
/*Typography*/
$font: 'Kumbh Sans', sans-serif;

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Mixins*/
@mixin responsive($size) {
    @if $size == mobile {
        @media (max-width: 375px) { @content; }
    } @else if $size == desktop {
        @media (min-width: 1440px) { @content; }
    }
}

@mixin modal-background {
    background-color: $Black-modal;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

@mixin image-btn($top, $left, $showDesktop) {
    background-color: $White;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: $top;
    left: $left;
    &:hover {
        cursor: pointer;
    }
    @include responsive(desktop) {
        @if $showDesktop == true {
            display: block;
        }@else{
            display: none;
        }
    }
}

@mixin changeNumber($pv, $ph) {
    width: 25px;
    height: 100%;
    padding: $pv $ph;
    background-color: $Light-grayish-blue;
    &:hover {
        cursor: pointer;
    }
}

@mixin button {
    background-color: $Orange;
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: none;
    color: $White;
    font-size: 0.9em;
    font-weight: 700;
    font-family: $font;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &:hover { 
        cursor: pointer;
        opacity: 0.5;
    }
}
/*Fin Mixins*/


.main-container {
    width: 375px;
    //border: 1px solid black;
    margin: auto;
    position: relative;
    @include responsive(desktop) {
        width: 1440px;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 68px;
        padding: 0 24px;
        @include responsive(desktop) {
            height: 112px;
            border-bottom: 1px solid $Grayish-blue;
        }
        &__navigation {
            width: 175px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include responsive(desktop) {
                width: 590px;
            }
        }
        &__menu {
            &:hover {
                cursor: pointer;
            }
            @include responsive(desktop) {
                display: none;
            }
        }
        &__cart-avatar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70px;
            @include responsive(desktop) {
                width: 125px;
            }
        }
        &__cart {
            position: relative;
            &--notification {
                display: none;
                background-color: $Orange;
                width: 15px;
                height: 12px;
                border-radius: 16px;
                position: absolute;
                top: -2px;
                right: -5px;
                font-size: 0.6em;
                text-align: center;
                color: $White;
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__avatar {
            width: 24px;
            @include responsive(desktop) {
                width: 48px;
            }
            &:hover {
                cursor: pointer;
                border: 2px solid $Orange;
                border-radius: 50%;
            }
        }

        .navbar {
            display: none;
            width: 400px;
            &__items {
                display: flex;
                justify-content: space-between;
                
            }
            &__link {
                text-decoration: none;
                color: $Dark-grayish-blue;
                display: block;
                height: 112px;
                padding-top: 42px;
                &:hover {
                    border-bottom: 4px solid $Orange;
                }
            }
            @include responsive(desktop) {
                display: block;
                
            }
        }
        .modal-navbar{
            &__background {
                @include modal-background();
                @include responsive(desktop) {
                    display: none;
                }
            }
            background-color: $White;
            width: 250px;
            height: 100vh;
            padding: 28px 24px;
            display: block;
            &__items {
                display: flex;
                flex-direction: column;
                height: 200px;
                justify-content: space-between;
                margin-top: 20%;
            }
            &__link {
                text-decoration: none;
                color: $Very-vark-blue;
                font-weight: 700;
                font-size: 1.1em;
            }
            &__close-icon:hover {
                cursor: pointer;
            }
        }
    }

    .gallery {
        @include responsive(desktop){
            width: 446px;
        }
        &__image-container {
            height: 300px;
            width: 100%;
            background-image: url(../images/image-product-1.jpg);
            background-size: cover;
            background-position-y: -35px;
            @include responsive(desktop){
                border-radius: 16px;
                width: 446px;
                height: 446px;
                margin-bottom: 32px;
                background-position-y: 0;
            }
        }
        &__previous {
            @include image-btn(180px, 15px, false);
            }
        &__next {
            @include image-btn(180px, 320px, false);
        }
        &__thumbnails {
            display: none;
            @include responsive(desktop) {
                display: flex;
                justify-content: space-between;
            }
        }
        &__thumbnail {
            width: 90px;
            border-radius: 16px;
            &:hover {
                cursor: pointer;
                border: 2px solid $Orange;
            }
        }
    }

    .modal-gallery {
        width: 550px;
        &__background {
            display: none;
            @include modal-background;
            //display: grid;
            place-content: center;
        }
        &__close-container {
            text-align: right;
            height: 30px;
        }
        &__close{
            width: 16px;
            &:hover {
                cursor: pointer;
                content: url('../images/icon-close-orange.svg');
            }
            
        }
        &__image-container {
            background-image: url('../images/image-product-1.jpg');
            background-size: cover;
            height: 446px;
            border-radius: 16px;
            margin-bottom: 32px;
            position: relative;
        }
        &__thumbnails {
            display: flex;
            justify-content: space-between;
            width: 450px;
            margin: auto;
        }
        &__thumbnail {
            width: 90px;
            border-radius: 16px;
            &:hover {
                cursor: pointer;
                border: 2px solid $Orange;
            }
        }
        &__previous {
            @include image-btn(200px, -15px, true);
            }
        &__next {
            @include image-btn(200px, 525px, true);
        }


    }


    .details {
        padding: 24px;
        @include responsive(desktop){
            padding-top: 60px;
            width: 446px;
        }
        &__company {
            color: $Orange;
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 1px;
            margin-bottom: 12px;
        }
        &__title {
            font-size: 1.7em;
            margin-bottom: 16px;
            @include responsive(desktop){
                font-size: 2.7em;
                margin-bottom: 48px;
            }
        }
        &__description {
            font-size: 0.94em;
            color: $Dark-grayish-blue;
            line-height: 24px;
            margin-bottom: 24px;
            @include responsive(desktop){
                font-size: 0.9em;
                margin-bottom: 37px;
            }
        }
        &__prices {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
            align-items: center;
            @include responsive(desktop){
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__now {
            font-size: 1.8em;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 18px;
        }
        &__discount {
            font-size: 0.5em;
            color: $Orange;
            background-color: $Pale-orange;
            padding: 4px;
            border-radius: 4px;
        }
        &__before {
            color: $Grayish-blue;
            font-weight: 700;
            text-decoration: line-through;
        }
        &__button {
            @include button();
        }
        &__product-quantity {
            display: flex;
            flex-direction: column;
            gap: 10px;
            @include responsive(desktop){
            flex-direction: row;
            gap: 25px;
            } 
            
        }
        

        .input {
            height: 57px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &__minus {
                @include changeNumber(24px, 5px);
                border-radius: 8px 0 0 8px;                
            }
            &__number {
                width: 100%;
                height: 100%;
                border: none;
                background-color: $Light-grayish-blue;
                font-size: 1.2em;
                font-weight: 700;
                font-family: $font;
                text-align: center;
                outline: none;
            }
            &__plus {
                @include changeNumber(19px, 3px);
                border-radius: 0 8px 8px 0;
            }
            
        }
    }

    .cart-modal {
        display: none;
        width: 360px;
        height: 260px;
        border-radius: 8px;
        box-shadow: 3px 3px 10px;
        position: absolute;
        top: 75px;
        background-color: $White;
        right: 7px;
        &__title {
            font-weight: 700;
            padding: 24px;
            border-bottom: 1px solid $Grayish-blue;
        }
        &__checkout-container {
            padding: 24px;
        }
        &__details-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
            color: $Dark-grayish-blue;
        }
        &__image {
            width: 50px;
            border-radius: 4px;
        }
        &__price span {
            color: $Black;
            font-weight: 700;
        }
        &__delete:hover {
            cursor: pointer;
        }
        &__checkout {
            @include button;
        }
    }


    .content {
        @include responsive(desktop) {
            display: flex;
            padding: 90px 50px;
            gap: 124px;
            justify-content: space-evenly;
        }
        
    }
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}