/*Primary Colors*/
/*Neutral Colors*/
/*Typography*/
/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Kumbh Sans", sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*Mixins*/
/*Fin Mixins*/
.main-container {
  width: 375px;
  margin: auto;
  position: relative; }
  @media (min-width: 1440px) {
    .main-container {
      width: 1440px; } }
  .main-container .h1 {
    display: none; }
  .main-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px; }
    @media (min-width: 1440px) {
      .main-container .header {
        height: 112px;
        border-bottom: 1px solid #b6bcc8; } }
    .main-container .header__navigation {
      width: 175px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      @media (min-width: 1440px) {
        .main-container .header__navigation {
          width: 590px; } }
    .main-container .header__menu:hover {
      cursor: pointer; }
    @media (min-width: 1440px) {
      .main-container .header__menu {
        display: none; } }
    .main-container .header__cart-avatar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70px; }
      @media (min-width: 1440px) {
        .main-container .header__cart-avatar {
          width: 125px; } }
    .main-container .header__cart {
      position: relative; }
      .main-container .header__cart--notification {
        display: none;
        background-color: #ff7d1a;
        width: 15px;
        height: 12px;
        border-radius: 16px;
        position: absolute;
        top: -2px;
        right: -5px;
        font-size: 0.6em;
        text-align: center;
        color: white; }
      .main-container .header__cart:hover {
        cursor: pointer; }
    .main-container .header__avatar {
      width: 24px; }
      @media (min-width: 1440px) {
        .main-container .header__avatar {
          width: 48px; } }
      .main-container .header__avatar:hover {
        cursor: pointer;
        border: 2px solid #ff7d1a;
        border-radius: 50%; }
    .main-container .header .navbar {
      display: none;
      width: 400px; }
      .main-container .header .navbar__items {
        display: flex;
        justify-content: space-between; }
      .main-container .header .navbar__link {
        text-decoration: none;
        color: #68707d;
        display: block;
        height: 112px;
        padding-top: 42px; }
        .main-container .header .navbar__link:hover {
          border-bottom: 4px solid #ff7d1a; }
      @media (min-width: 1440px) {
        .main-container .header .navbar {
          display: block; } }
    .main-container .header .modal-navbar {
      background-color: white;
      width: 250px;
      height: 100vh;
      padding: 28px 24px;
      display: block; }
      .main-container .header .modal-navbar__background {
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        overflow: hidden; }
        @media (min-width: 1440px) {
          .main-container .header .modal-navbar__background {
            display: none; } }
      .main-container .header .modal-navbar__items {
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        margin-top: 20%; }
      .main-container .header .modal-navbar__link {
        text-decoration: none;
        color: #1d2025;
        font-weight: 700;
        font-size: 1.1em; }
      .main-container .header .modal-navbar__close-icon:hover {
        cursor: pointer; }
  @media (min-width: 1440px) {
    .main-container .gallery {
      width: 446px; } }
  .main-container .gallery__image-container {
    height: 300px;
    width: 100%;
    background-image: url(../images/image-product-1.jpg);
    background-size: cover;
    background-position-y: -35px; }
    @media (min-width: 1440px) {
      .main-container .gallery__image-container {
        border-radius: 16px;
        width: 446px;
        height: 446px;
        margin-bottom: 32px;
        background-position-y: 0; }
        .main-container .gallery__image-container:hover {
          cursor: pointer; } }
  .main-container .gallery__previous {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 15px; }
    .main-container .gallery__previous:hover {
      cursor: pointer; }
    @media (min-width: 1440px) {
      .main-container .gallery__previous {
        display: none; } }
  .main-container .gallery__next {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 320px; }
    .main-container .gallery__next:hover {
      cursor: pointer; }
    @media (min-width: 1440px) {
      .main-container .gallery__next {
        display: none; } }
  .main-container .gallery__thumbnails {
    display: none; }
    @media (min-width: 1440px) {
      .main-container .gallery__thumbnails {
        display: flex;
        justify-content: space-between; } }
  .main-container .gallery__thumbnail {
    width: 90px;
    border-radius: 16px; }
    .main-container .gallery__thumbnail:hover {
      cursor: pointer;
      border: 2px solid #ff7d1a; }
  .main-container .details {
    padding: 24px; }
    @media (min-width: 1440px) {
      .main-container .details {
        padding-top: 60px;
        width: 446px; } }
    .main-container .details__company {
      color: #ff7d1a;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 1px;
      margin-bottom: 12px; }
    .main-container .details__title {
      font-size: 1.7em;
      margin-bottom: 16px; }
      @media (min-width: 1440px) {
        .main-container .details__title {
          font-size: 2.7em;
          margin-bottom: 48px; } }
    .main-container .details__description {
      font-size: 0.94em;
      color: #68707d;
      line-height: 24px;
      margin-bottom: 24px; }
      @media (min-width: 1440px) {
        .main-container .details__description {
          font-size: 0.9em;
          margin-bottom: 37px; } }
    .main-container .details__prices {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      align-items: center; }
      @media (min-width: 1440px) {
        .main-container .details__prices {
          flex-direction: column;
          align-items: flex-start; } }
    .main-container .details__now {
      font-size: 1.8em;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 18px; }
    .main-container .details__discount {
      font-size: 0.5em;
      color: #ff7d1a;
      background-color: #ffede0;
      padding: 4px;
      border-radius: 4px; }
    .main-container .details__before {
      color: #b6bcc8;
      font-weight: 700;
      text-decoration: line-through; }
    .main-container .details__button {
      background-color: #ff7d1a;
      width: 100%;
      height: 57px;
      border-radius: 8px;
      border: none;
      color: white;
      font-size: 0.9em;
      font-weight: 700;
      font-family: "Kumbh Sans", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; }
      .main-container .details__button:hover {
        cursor: pointer;
        opacity: 0.5; }
    .main-container .details__product-quantity {
      display: flex;
      flex-direction: column;
      gap: 10px; }
      @media (min-width: 1440px) {
        .main-container .details__product-quantity {
          flex-direction: row;
          gap: 25px; } }
    .main-container .details .input {
      height: 57px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .main-container .details .input__minus {
        width: 25px;
        height: 100%;
        padding: 24px 5px;
        background-color: #f7f8fd;
        border-radius: 8px 0 0 8px; }
        .main-container .details .input__minus:hover {
          cursor: pointer; }
      .main-container .details .input__number {
        width: 100%;
        height: 100%;
        border: none;
        background-color: #f7f8fd;
        font-size: 1.2em;
        font-weight: 700;
        font-family: "Kumbh Sans", sans-serif;
        text-align: center;
        outline: none; }
      .main-container .details .input__plus {
        width: 25px;
        height: 100%;
        padding: 19px 3px;
        background-color: #f7f8fd;
        border-radius: 0 8px 8px 0; }
        .main-container .details .input__plus:hover {
          cursor: pointer; }
  .main-container .cart-modal {
    display: none;
    width: 360px;
    height: 260px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px;
    position: absolute;
    top: 75px;
    background-color: white;
    right: 7px; }
    .main-container .cart-modal__title {
      font-weight: 700;
      padding: 24px;
      border-bottom: 1px solid #b6bcc8; }
    .main-container .cart-modal__checkout-container {
      padding: 24px; }
    .main-container .cart-modal__details-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      color: #68707d; }
    .main-container .cart-modal__image {
      width: 50px;
      border-radius: 4px; }
    .main-container .cart-modal__price span {
      color: black;
      font-weight: 700; }
    .main-container .cart-modal__delete:hover {
      cursor: pointer; }
    .main-container .cart-modal__checkout {
      background-color: #ff7d1a;
      width: 100%;
      height: 57px;
      border-radius: 8px;
      border: none;
      color: white;
      font-size: 0.9em;
      font-weight: 700;
      font-family: "Kumbh Sans", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; }
      .main-container .cart-modal__checkout:hover {
        cursor: pointer;
        opacity: 0.5; }
  @media (min-width: 1440px) {
    .main-container .content {
      display: flex;
      padding: 90px 50px;
      gap: 124px;
      justify-content: space-evenly; } }
  .main-container .show {
    display: block; }
  .main-container .cart-empty {
    text-align: center;
    margin-top: 15%;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.75);
    opacity: 0.75; }

.modal-gallery {
  width: 550px; }
  .modal-gallery__background {
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    overflow: hidden;
    place-content: center; }
  .modal-gallery__close-container {
    text-align: right;
    height: 30px; }
  .modal-gallery__close {
    width: 16px; }
    .modal-gallery__close:hover {
      cursor: pointer;
      content: url("../images/icon-close-orange.svg"); }
  .modal-gallery__image-container {
    background-image: url("../images/image-product-1.jpg");
    background-size: cover;
    height: 446px;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative; }
  .modal-gallery__thumbnails {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto; }
  .modal-gallery__thumbnail {
    width: 90px;
    border-radius: 16px; }
    .modal-gallery__thumbnail:hover {
      cursor: pointer;
      border: 2px solid #ff7d1a; }
  .modal-gallery__previous {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -15px; }
    .modal-gallery__previous:hover {
      cursor: pointer; }
    @media (min-width: 1440px) {
      .modal-gallery__previous {
        display: block; } }
  .modal-gallery__next {
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 525px; }
    .modal-gallery__next:hover {
      cursor: pointer; }
    @media (min-width: 1440px) {
      .modal-gallery__next {
        display: block; } }

.attribution {
  font-size: 14px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

/*# sourceMappingURL=style.css.map */